<% content_for :title, 'Editare articol de cheltuială' %>

<h1>Editează un articol de cheltuială existent</h1>

<p><%= link_to 'Înapoi la lista de articole de cheltuială', expenditure_articles_path %></p>

<%= render partial: 'flashes' %>

<%= render partial: 'form' %>
