<% content_for :title, 'Adaugare articol de cheltuială' %>

<h1>Adaugă un articol de cheltuială nou</h1>

<p><%= link_to 'Înapoi la lista de articole de cheltuială', expenditure_articles_path %></p>

<%= render partial: 'flashes' %>

<%= render partial: 'form' %>
