<% content_for :title, 'Editare utilizator' %>

<h1>Editează rolul unui utilizator existent</h1>

<p><%= link_to 'Înapoi la lista de utilizatori', users_path, class: 'btn btn-light' %></p>

<%= render partial: 'flashes' %>

<%= render partial: 'form' %>
