<div class="card m-1 flex-shrink-1" style="max-width: 22rem;">
  <div class="card-body text-center">
    <h4 class="card-title"><%= card_title %></h4>
    <% if card_text.respond_to? :call %>
      <%= card_text %>
    <% else %>
      <p class="card-text">
        <%= card_text %>
      </p>
    <% end %>
    <%= link_to link_text, link_path, class: 'btn btn-primary' %>
  </div>
</div>
