<% content_for :title, 'Editare categorie de proiect' %>

<h1>Editează o categorie de proiect existentă</h1>

<p><%= link_to 'Înapoi la lista de categorii de proiecte', project_categories_path %></p>

<%= render partial: 'flashes' %>

<%= render partial: 'form' %>
