<h1>Adaugă o categorie de proiect nouă</h1>

<p><%= link_to 'Înapoi la lista de categorii de proiecte', project_categories_path %></p>

<%= render partial: 'flashes' %>

<%= render partial: 'form' %>
