<% content_for :title, 'Editare sursă de finanțare' %>

<h1>Editează o sursă de finanțare existentă</h1>

<p><%= link_to 'Înapoi la lista de surse de finanțare', financing_sources_path %></p>

<%= render partial: 'flashes' %>

<%= render partial: 'form' %>
