<% content_for :title, "Editare angajament #{@commitment.full_identifier}" %>

<h1>Editează un angajament existent</h1>

<p><%= link_to 'Înapoi la registrul de angajamente', commitments_path, class: 'btn btn-light' %></p>

<%= render partial: 'flashes' %>

<%= render partial: 'form' %>
