<% content_for :title, 'Editare tip de plată' %>

<h1>Editează un tip de plată existent</h1>

<p><%= link_to 'Înapoi la lista de tipuri de plăți', payment_types_path, class: 'btn btn-light' %></p>

<%= render partial: 'flashes' %>

<%= render partial: 'form' %>
