<% content_for :title, "Duplicare cheltuială #{@expenditure.full_identifier}" %>

<h1>Duplică o cheltuială existentă</h1>

<p><%= link_to 'Înapoi la registrul de cheltuieli', expenditures_path %></p>

<%= render partial: 'flashes' %>

<%= render partial: 'form' %>
