<% content_for :title, 'Adăugare cheltuială' %>

<h1>Adaugă o cheltuială nouă</h1>

<p><%= link_to 'Înapoi la registrul de cheltuieli', expenditures_path, class: 'btn btn-light' %></p>

<%= render partial: 'flashes' %>

<%= render partial: 'form' %>
