<h2>Raport / statistici</h2>
<% if @any_filters_applied %>
  <p>Valorile agregate se referă strict la înregistrările care respectă criterile de filtrare selectate.</p>
<% end %>
<% current_year = Setting.current_year %>
<% unless params[:year].present? %>
  <h4>În anul <%= current_year %></h4>
  <%= render partial: 'statistics_data', locals: { collection: collection.where(year: current_year) } %>
  <h4>În total</h4>
<% end %>
<%= render partial: 'statistics_data', locals: { collection: } %>
